gris = #686868
olivo = #8f8c59
verde = #908C5A
amarillo = #EAB23F
.white
	color white
.olivo
	color olivo
.verde
	color verde
.gris
	color gris
.amarillo
	color amarillo
.cien_font
	font-weight 100
textarea
	resize none
h1
	font-family 'Raleway', sans-serif
	font-weight 100
	padding-right 100px
.raleway
	font-family 'Raleway', sans-serif
body
	background white
	color gris
	font-family 'Open Sans Condensed', sans-serif
#masthead
	background none
	position fixed
	width 100%
	z-index 100
	transition background .4s ease
	top 0
#masthead.transparent
	.navbar
		background rgba(olivo, .95) !important
		transition background .7s ease
.navbar
.menu-menu-top-container
	background none
	display flex
	justify-content flex-start
	align-items center
	border none
	margin-bottom 0
	z-index 100
	width 100%
	position absolute
	text-transform uppercase
	transition background .4s ease
.navbar-toggler
	background none
	border none
	width 30px
	height 30px
	position absolute
	right 15px
	padding 0
	transition background .4s ease
	.icon-bar
		background white
		width 100%
		height 4px
		margin 5px 0
		display block
.navbar-collapse
	width 100%
	position fixed
	top 50px
	background rgba(olivo, .95)
	border none
	left 0
	li
		display block
		margin-bottom 5px
		margin-top 5px
		a
			color white
		&:first-of-type
			margin-top 15px
		&:last-of-type
			margin-bottom 15px
.top-home-images-container
	overflow hidden
	.image
		height 210px
		background-color rgba(black, .7)
		a
			width 100%
			height 100%
			display block
		&.main
			background-position center left
			background-repeat no-repeat
			background-color rgba(gris,.5)
			background-size cover
			height 520px
			position relative
			.text-container
				position absolute
				left 15px
				bottom 150px
				p
					color amarillo
			h1
				margin 0
				color white
				text-transform uppercase
				font-weight 100
		&.secondary
			position relative
			background-position center center
			background-repeat no-repeat
			background-color transparent
			background-size cover
			.cat-title
				position absolute
				left 15px
				bottom 10px
				color white
				font-size 1.3em
				font-weight 100
h2.title
	text-align center
	font-size 1.5em
	position relative
	font-weight 100
	padding-bottom 5px
	margin-bottom 20px
	&::before
		content ''
		width 160px
		height 2px
		background-color amarillo
		display inline-block
		position absolute
		bottom 0
		left 50%
		margin-left -80px
.image-container
	height 130px
	background-color rgba(olivo, .1)
	a
		display block
		width 100%
		height 100%
.info-container
	h3
		margin 5px 0
		font-size 1em
.trendy-item
	margin-bottom 10px
	.image-container
		background-position center center
		background-size cover
		background-color rgba(olivo, .2)
	.info-container
		height 50px
		h3
			a
				color gris
				transition color .5s ease
				&:hover
					color rgba(gris, .5)
					transition color .5s ease
.why-container
	display block
.why-icon-container
	padding-top 20px
	display block
	span
		font-size 9em
		color amarillo
.why-info-container
	padding 0 20px
	color gris
	.title
		font-weight bold
		margin-bottom 5px
.slick-dots
	margin 25px 0
	padding 0
	text-align center
	li
		display inline-block
		border-radius 50%
		width 6px
		height 6px
		overflow hidden
		margin 0 5px
		background-color rgba(gris, .3)
		&.slick-active
			background-color amarillo
		button
			background none
			border none
			color transparent
			transition background .4s ease
footer
	text-transform uppercase
	.first-block
		background rgba(verde, .25)
		padding 15px 0
	.second-block
		background rgba(verde, .5)
		padding 20px 0
	.social-links
		padding 0
		margin 0
		text-align center
		li
			display inline-block
			margin 0 5px
			a
				color verde
				font-size 2.8em
	.footer-menu-block
		ul
			padding 0
			margin 0 auto 10px auto
			width 90%
			&.one
				border-bottom 1px solid white
		li
			display block
			margin-bottom 3px
			a
				color white
.banner-page
	height 400px
	background-position center center
	background-size cover
	&.salas
		background url(./images/banner-salas-codimuba.jpeg) no-repeat center center
		background-size cover
	&.mesas
		background url(./images/banner-mesas-y-credenzas-codimuba.jpeg) no-repeat center center
		background-size cover
	&.comedores
		background url(./images/banner-comedores-codimuba.jpeg) no-repeat center center
		background-size cover
	&.recamaras
		background url(./images/banner-recamaras-codimuba.jpeg) no-repeat center center
		background-size cover
	&.accesorios
		background url(./images/banner-accesorios-codimuba.jpeg) no-repeat center center
		background-size cover
	&.centros-de-entretenimiento
		background url(./images/banner-centros-de-entretenimiento-codimuba.jpeg) no-repeat center center
		background-size cover
.back-olivo
	background-color olivo
.first-block-page
	&.quienes-somos
		padding-bottom 170px
.phrase-image-container
	height 510px
	background-size cover
	background-position center center
	margin-top -150px
	position relative
	display flex
	align-items center
	.phrase
		background rgba(black, .8)
		padding 30px 35px
		width 100%
		text-align center
		font-size 1.2em
.complementary-text
	padding-top 30px
	padding-bottom 30px
.form-container
	padding-top 30px
	padding-bottom 30px
.form-control
	background rgba(gris, .2)
	border none
	border-bottom 2px solid gris
	border-radius 0
	&:focus
		outline none
		border-color gris
		box-shadow none
.send-btn
	border-radius 0
	border none
	background gris
	color amarillo
	width 100%
	text-transform uppercase
	letter-spacing 1px
.page-header
	padding-bottom 9px
	margin 0
	border-bottom none
.archive
	.banner-page
		background-color rgba(gris, .5)
	h1
		background olivo
		color white
		margin-bottom 30px
		margin-top 0
		padding 20px 15px
	.info-container
		a
			color gris
	h2.entry-title
		font-size 1.1em
		margin-top 5px
		margin-bottom 10px
		min-height 40px
	.image-container
		background-position center center !important
		background-size cover !important
.entry-header
	padding-top 30px
	padding-bottom 250px
	color white
.product-gallery
	height 350px
	display block
	overflow hidden
	position relative
	margin-top -240px
	margin-bottom 30px
	.item
		background-position center center
		background-repeat no-repeat
		background-size cover
		display inline-block
		height 300px
		overflow hidden
		width 100%
.slick-list
	height auto !important
.related-item
	height auto
	margin-bottom 20px
	overflow hidden
	.photo
		width 100%
		height 140px
		background-color gris
		background-position center center
		background-size cover
		a
			width 100%
			height 100%
			display block
	.info
		padding-top 5px
		padding-bottom 10px
	a
		color gris
@media screen and (min-width: 425px)
	.image-container
		height 190px
@media screen and (min-width: 768px)
	.navbar
		justify-content space-between
		background none
		transition background .4s ease
	#masthead.transparent
		.navbar
			background rgba(olivo, .95) !important
			border-radius 0
	button.navbar-toggler
		display none
	.menu-menu-top-container
		display inline-block
		position relative
		padding 0
		background none
		display flex !important
	.navbar-collapse
		display inline-block
		position relative
		top 0
		padding 0
		margin 0
		background none
		transition background .4s ease
		font-size .8em
		&.collapse
			display flex !important
			justify-content flex-end
		li
			display inline-block
			margin 0 10px
			&:first-of-type
				margin-top 0
			&:last-of-type
				margin-bottom 0
			a
				color white
				transition color .5s ease
				&:hover
					color rgba(white, .5)
					transition color .5s ease
	h2.title
		text-align left
		font-size 1.6em
		padding-bottom 10px
		margin-bottom 30px
		&::before
			width 120px
			left 0
			margin-left 0
	.product-details
		margin-top 30px
		margin-bottom 30px
	.image-container
		height 160px
	.top-home-images-container
		.image
			&.main
				background-position center center
				background-size cover
				height 580px
				position relative
				.text-container
					width 350px
				h1
					font-size 3em
			&.secondary
				position relative
				width 50%
				float left
				.cat-title
					position absolute
					left 15px
					bottom 10px
					color white
					font-size 1.3em
					font-weight 100
			&.bed
				background transparent url(./images/home-cama-destacado.jpg) no-repeat center center
				background-size cover
			&.sofa
				background transparent url(./images/home-sillon-destacado.jpg) no-repeat center center
				background-size cover
	.banner-page
		height 550px
	.phrase-image-container
		height 500px
		align-items flex-start
		.phrase
			padding 30px 160px
			font-size 1.3em
			margin-top 80px
			position relative
			&::before
				content ''
				width 140px
				height 2px
				background-color amarillo
				position absolute
				left 50%
				bottom 20px
				margin-left -70px
	.col-sm-6
		.row.first
			margin-right -10px
		.row.last
			margin-left -10px
	textarea.form-control
		height 208px
	footer
		.first-block
			height 140px
		.second-block
			height 140px
		.social-links
			padding-top 10px
			margin 0
			text-align center
			li
				display inline-block
				margin 0 5px
				a
					color verde
					font-size 2.8em
		.footer-menu-block
			width 33%
			float left
			ul
				padding-left 10px
				border-left 1px solid white
				&.one
					border none
	.product-gallery
		height 550px
		margin-top -240px
		.item
			height 500px
	.related-item
		.photo
			height 160px
		.info
			font-size 1.2em
@media screen and (min-width: 992px)
	#masthead.transparent
		background rgba(olivo, .95) !important
		transition background .7s ease
		.navbar
			background none !important
			transition background .4s ease
	.navbar-collapse
		font-size 1.1em
	.navbar
		width 970px
		margin 0 auto
		position relative
	.image-container
		height 215px
	.top-home-images-container
		.image
			&.main
				background-size cover
				height 580px
				width 60%
				position relative
				display inline-block
				.text-container
					width 450px
				h1
					font-size 3.4em
		.secondary-images-container
			width 40%
			float right
			height 580px
			background olivo
			.image
				width 100%
				display block
				height 50%
	.banner-page
		height 440px
	.related-item
		height 280px
		.photo
			height 220px
	footer
		.footer-menu-block
			width 30%
@media screen and (min-width: 1200px)
	.navbar
		width 1170px
	.banner-page
		height 650px
	.phrase-image-container
		.phrase
			padding 30px 240px
			font-size 1.4em
	.product-gallery
		height 650px
		.item
			height 600px
			background-size cover
	.related-item
		height 320px
		.photo
			height 260px
	footer
		.social-links
			text-align right
			padding-right 100px
		.footer-menu-block
			width 25%
@media screen and (min-width: 1400px)
	.top-home-images-container
		.image
			&.main
				height 780px
		.secondary-images-container
			height 780px
@media screen and (min-width: 1800px)
	.top-home-images-container
		.image
			&.main
				height 980px
		.secondary-images-container
			height 980px
@media screen and (min-width: 2200px)
	.top-home-images-container
		.image
			&.main
				height 1180px
		.secondary-images-container
			height 1180px